*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
}
.topnav{
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    border-right: 1px #bbb;
    border-style: solid;


}
.topnav a{
    overflow: hidden;
    color: white;  
}
.topnav a:hover{
    background-color: white;
    color:black
}
.topnav a.active{
    background-color: #4CAF50;
  color: white;
} 
a{
    text-decoration: none;
    color: inherit;
}
.TA{
    height: 35vh;
    color:black;
    background-color: white;
    
    

}
.techA
{
    font-family: 'Raleway', sans-serif;
    color:black;
}
.simbly{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.WT{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height:45vh;
    color:black;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.BL{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height: 45vh;
    color: white;
    border-style:solid;
    border-width: 1px;
    border-color: white;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.IG{
    float: left;
  width: 30%;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px ;
    text-align: center;
    color: white;
}
.foot{
    background: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.TXT{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    
}
.P1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px ;
    text-align: center;
    color: white;
}
.P2{
    font-family: 'Raleway', sans-serif;
    font-size: 40px ;
    text-align: center;
    color: black;
}
.foot{
    background: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.TOP1{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height:25vh;
    color: black;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
}
.TOP2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height:25vh;
    color:white;
    align-items: center;
    justify-content: center;
    background-color:black;
    text-align: center;
}
.P3{
    font-family: 'Raleway', sans-serif;
    font-size: 20px ;
    text-align: center;
    color: black;
}
.P4{
    font-family: 'Raleway', sans-serif;
    font-size: 15px ;
    text-align: center;
    color: black;
}
{box-sizing:border-box}
.SUB{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

