*{
    margin:0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
  background-color: black;
}

h1{
    text-align: center;
    margin: 60px;
}
div{

    position: relative;
}
.para{
  background-color: black;
  font-style: font-family: 'Raleway', sans-serif;
  max-width: 80%;
}
.para1{
  background-color: white;
  font-style: font-family: 'Raleway', sans-serif;
  max-width: 80%;
  color: black;
}
.column{

    width: 32%;
    float: left;
    margin: 6px;
    border: 1px solid black;
}

.bg{
    background-color: black;
    color: white;
}
.bg1{
    background-color: black;
    color:white;
}
img{
  max-width: 80%;
  max-height: 80%;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.HEAD{
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Raleway', sans-serif;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 24px;
    color:black;
}
.a{
    color: black;
    justify-content: center;
}

.b{
    background-color:  purple;
}

.c{
    background-color:  green;
}

p{
    padding:25px 15px 15px 15px;
    text-align: left;
    font-size: 25px;

}
@media (min-width:992px){

}

@media (min-width:768px) and (max-width:991px){
    .column{
        width: 48%;
        margin-right: 2.5px;
        margin-left: 10px;
    }
    .bg1{
        width: 97.3%;
        clear: both;
    }
}
@media (max-width:767px){

    .column{
        width: 90%;
        margin-left: 5%;


    }

}
