/* Footer Styling */

.fa-stack fa-lg {
  display: inline-block;
}

.footer-container > p {
  color: white;
}

.content-footer {
  padding: 2em 0;
  margin-top: 3em;
  background: #2b3840;
}
